body {
    /* base font-family goes on body element */
    font-family: 'Noto Sans', sans-serif;
    color: #323232;
}

.container {
    padding: 4rem 0.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

section.card {
    max-width: 23.75rem;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-shadow: 3px 3px 5px #e8e8e8;
}

.card > div {
    padding: 1.5rem;
}
.card svg {
    width: 1.125rem;
    fill: #67768c;
    margin-left: 0.25rem;
}
.card p {
    font-size: 0.875rem;
    color: #67768c;
}
.card footer {
    display: flex;
    gap: 0.625rem;
}
.card footer img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}
/* images should have width and height attributes with no units of measure (width="100" height="100"). 
When adding width and height dimensions, add height: auto; to the reset to avoid warped image when resized by the browser. */


@media screen and (min-width: 800px) {
    section.card {
        max-width: 46.875rem;
        display: flex;
    }
    .card picture {
        flex: 0 1 26.667%;
    }
    .card > div {
        flex: 0 1 73.333%;
    }
}